<div class="container">
    <div class="detail">
       <div class="icon">
          <img src="assets/log-in.png" alt="icon" height="80px">
       </div>
       <div class="wel">
          <h2>Welcome to Multikart</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta quidem dolores earum adipisci quis nostrum
             nihil quisquam. Ducimus veritatis facere asperiores doloribus iusto repellat incidunt, totam dolores qui
             veniam dolorum.</p>
 
       </div>
    </div>
    <div class="login">
       <div class="log">
          <h2>Register</h2>
          <input type="text" placeholder="Username">
          <input type="password" placeholder="Password">
       </div>
       <div class="forget">
          <div class="rem">
             <input type="checkbox" />
             <p>I agree all Terms and Condition</p>
          </div>
          <a routerLink="login">Already Have a Account</a>
       </div>
       <div class="btn">
          <button type="submit"><a routerLink="dashboard">Register</a></button>
       </div>
    </div>
 </div>