<div class="container">
    <div class="s-card">
        <div class="title">
            <h1>Total Sales</h1>
        </div>
        <div class="image">
            <img src="\assets\sales-c.png" alt="chart" height="100px" width="180px" />
            <h4>42% ^</h4>
        </div>
        <div class="info">
            <div class="text">
                <p>Sales Last Month</p>
                <h1>9054</h1>
                <p>0.25% ^</p>
            </div>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-briefcase" _ngcontent-serverapp-c1119890716="">
                    <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                    <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                </svg>
            </div>
        </div>
        <div>
            <h1>Gross Sales of August</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
    </div>
    <div class="p-card">
        <div class="title">
            <h1>Total Purchase</h1>
        </div>
        <div class="image">
            <img src="\assets\purchase-c.png" alt="chart" height="100px" width="180px" />
            <h4>20% ^</h4>
        </div>
        <div class="info">
            <div class="text">
                <p>Monthly Purchase</p>
                <h1>2154</h1>
                <p>0.13% ^</p>
            </div>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-credit-card" _ngcontent-serverapp-c1119890716="">
                    <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                    <line x1="1" y1="10" x2="23" y2="10"></line>
                </svg>
            </div>
        </div>
        <div>
            <h1>Average Gross Purchase</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="t-card">
        <div class="title">
            <h1>Total Cash Transaction</h1>
        </div>
        <div class="image">
            <img src="\assets\transaction-c.png" alt="chart" height="100px" width="180px" />
            <h4>28% ^</h4>
        </div>
        <div class="info">
            <div class="text">
                <p>Cash on hand</p>
                <h1>4672</h1>
                <p>0.8% ^</p>
            </div>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-shopping-cart" _ngcontent-serverapp-c1119890716="">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
            </div>
        </div>
        <div>
            <h1>Detail About Cash</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
    </div>
    <div class="d-card">
        <div class="title">
            <h1>Daily Deposit</h1>
        </div>
        <div class="image">
            <img src="\assets\diposit-c.png" alt="chart" height="100px" width="180px" />
            <h4>75% ^</h4>
        </div>
        <div class="info">
            <div class="text">
                <p>Security Deposit</p>
                <h1>0782</h1>
                <p>0.25% ^</p>
            </div>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-calendar" _ngcontent-serverapp-c1119890716="">
                    <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                    <line x1="16" y1="2" x2="16" y2="6"></line>
                    <line x1="8" y1="2" x2="8" y2="6"></line>
                    <line x1="3" y1="10" x2="21" y2="10"></line>
                </svg>
            </div>
        </div>
        <div>
            <h1>Gross Sales of June</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
        </div>
    </div>
</div>