.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}
.logo {
  display: flex;
  margin-left: 10px;
}
.header_menu {
  margin-left: 0px;
}
.search-bar {
  margin-left: 400px;
  display: flex;
  justify-items: center;
}
.search-bar input {
  border: 1px solid #eff0f1;
  padding: 10px 10px 10px 70px;
  border-radius: 50px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: #f8f8f9;
}
.search-bar svg {
  border: 1px solid #eff0f1;
  padding: 10px 10px 10px 10px;
  border-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: #f8f8f9;
}
.lan {
  display: flex;
  height: 100%;
}
.lan a{
  margin-top: 30px;
  font-size: larger;
}

.notify-msg {
  display: flex;
  justify-content: space-evenly;
  width: 90px;
  height: 70px;
}
.feather-bell{
  height: 30px;
  width: 30px;
  margin-right: 10px;
  
}
.feather-message-square{
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-top: 0px;
}

.profile {
  height: 100%;
  margin-right: 30px;
}
.profile img {
  border: 1px solid #eff0f1;
  border-radius: 50%;
  margin-top: 5px;
}
svg {
  color: palevioletred;
}
.menu-b {
  all: unset;
}
button{
  all: unset;
  cursor: pointer;
}
.notification button{
  cursor: pointer;
  position: fixed;
}
.dropdown {
  position: absolute;
  top: 90%; 
  left: 1000px;
  background-color: #fff; /* Or your desired color */
  border: 1px solid #ccc; /* Or your desired border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
  padding: 8px;
  border-radius: 10%;
}

.dropdown:active {
  display: block; /* Show on hover */
}
.order{
  display: flex;
  color: palevioletred;
  border-bottom: 1px solid black;
}
.order img{
  margin-top: 20px;
  margin-right: 10px;
}
.download{
  display: flex;
  color: greenyellow;
  border-bottom: 1px solid black;
}
.download img{
  margin-top: 20px;
  margin-right: 10px;
}
.trash{
  display: flex;
  color: gray;
  border-bottom: 1px solid black;
}
.trash img{
  margin-top: 20px;
  margin-right: 10px;
}
.option{
  display: flex;
}
.option img{
  margin-top: 15px;
  margin-right: 10px;
}
.p-dropdown{
  position: absolute;
  top: 100%; /* Position below the SVG */
  left: 1220px;
  background-color: #fff; /* Or your desired color */
  border: 1px solid #ccc; /* Or your desired border */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional shadow */
  padding: 8px;
  border-radius: 10%;
  transition: opacity 0.2s ease-in-out;
}
.edit{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* margin-top: 10px; */

}
.edit a{
  text-decoration: none;
  color: black;
  margin-top: 10px;
  font-size: large;
}
.edit a:hover{
  color: palevioletred;
  cursor: pointer;
}
.setting{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 10px;
}
.setting a{
  font-size: large;
  text-decoration: none;
  color: black;
  margin-top: 10px;
}
.setting a:hover{
  color: palevioletred;
  cursor: pointer;
}


@keyframes blink {
  from { opacity: 0; }
  to { opacity: 1; }
}
.image-container {
  position: relative; /* Allow absolute positioning within */
}

.blinking-dot {
  position: absolute;
  top: 3px; /* Top corner */
  right: 4px; /* Right corner */
  width: 10px; /* Dot size */
  height: 10px;
  background-color: palevioletred; /* Change as needed */
  border-radius: 50%; /* Round dot */
  animation: blink 1s infinite alternate; /* Animation for blinking */
}

