<div class="container">
    <div class="title">
        <h1>Create Users</h1>
        <h5>Multicart Admin Panel</h5>
    </div>
    <div class="around">
        <div class="m-order">
            <h2>Add Users</h2>
        </div>
        <div class="form">
            <form>

                <div class="form-group">
                    <label for="f_name">First Name</label>
                    <input type="text" class="form-control" id="f_name" formControlName="f_name"
                        placeholder="Enter First Name">
                </div>
                <div class="form-group">
                    <label for="l_name">Last Name</label>
                    <input type="text" class="form-control" id="l_name" formControlName="l_name"
                        placeholder="Enter Last Name">
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" id="Email" formControlName="Email"
                        placeholder="Enter Email">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" formControlName="password"
                        placeholder="Enter Password">
                </div>
                <div class="form-group">
                    <label for="c_password">Confirm Password</label>
                    <input type="password" class="form-control" id="c_password" formControlName="c_password"
                        placeholder="Confirm Password">
                </div>


            </form>

        </div>
        <div class="btn">
            <button type="button">Save</button>
        </div>
    </div>
</div>