<div class="container">
    <div class="title">
        <h1>Profile</h1>
        <h5>Multicart Admin Panel</h5>
    </div>
    <div class="profile">
        <div class="status">
            <div class="info">
                <img src="assets/user.png" alt="Pic" />
                <h2>John Doe</h2>
                <p>johndoe&#64;gmail.com</p>
            </div>
            <div class="emp-status">
                <h3>Employee Status</h3>

                <div class="title">
                    <p>Performane</p>
                    <p>80%</p>
                </div>
                <div class="bar">
                    <progress value="80" max="100"></progress>
                </div>
                <div class="title">
                    <p>Overtime</p>
                    <p>60%</p>
                </div>
                <div class="bar">
                    <progress value="60" max="100"></progress>
                </div>
                <div class="title">
                    <p>Leaves Taken</p>
                    <p>70%</p>
                </div>
                <div class="bar">
                    <progress value="70" max="100"></progress>
                </div>

            </div>
        </div>
    </div>
</div>