.dashboard{
    margin-left: 220px;
    display: flex;
    position: relative;
    top: 20px;
    
}
.title{
    margin-top: 80px;
    margin-left: 30px;
}
.title p{
    margin-top: -20px;
    margin-left: 5px;
}
.report{
    display: flex;
    justify-content:space-between;
}
.e-card{
    margin-left: -150px;
    margin-top: 200px;
    background-color: orange;
    height: 100px;
    width: 400px;
    border-radius: 30px;
    display: flex;
}
.icon{
    background-color: white;
    height: 35px;
    width: 35px;
    margin-top: 35px;
    margin-left: 35px;
    color: orange;
    border-radius: 50%;
}
.icon svg{
    margin-top: 6px;
    margin-left: 6px;
}
.info{
    color: white;
    margin-left: 50px;
    display: flex;
}
.e-title{
    font-size: larger;
    margin-left: 20px;
    margin-top: 20px;
}
.earnings{
    font-size: x-large;
    margin-top: 40px;
    margin-left: -80px;
}
.per{
    font-size: medium;
    margin-top: 55px;
    margin-left: 5px;
}
.p-card{
    background-color: rgb(148, 99, 194);
    height: 100px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    margin-top: 200px;
    margin-left: 100px;
}
.m-card{
    background-color: palevioletred;
    height: 100px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    margin-top: 350px;
    margin-left: -900px;
}
.v-card{
    background-color: gray;
    height: 100px;
    width: 400px;
    border-radius: 30px;
    display: flex;
    margin-top: 350px;
    margin-left: 105px;
}
