<div class="dashboard">
<div class="title">
    <h1>Dashboard</h1>
    <p>Multikart Admin Panel</p>
</div>
<div class="report">
<div class="e-card">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-navigation" ><polygon points="3 11 22 2 13 21 11 13 3 11"></polygon></svg>
    
    </div>
    
    <div class="info">
        <h4 class="e-title">Earnings</h4>
        <p class="earnings">$6659</p>
        <p class="per">This month</p></div>
</div>
<div class="p-card">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-box" _ngcontent-serverapp-c1626669388=""><path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path><polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline><line x1="12" y1="22.08" x2="12" y2="12"></line></svg>
    </div>
    
    <div class="info">
        <h4 class="e-title">Products</h4>
        <p class="earnings">$9856</p>
        <p class="per">This month</p></div>
</div>
<div class="m-card">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square" _ngcontent-serverapp-c1626669388=""><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
    </div>
    
    <div class="info">
        <h4 class="e-title">Messages</h4>
        <p class="earnings">$893</p>
        <p class="per">This month</p></div>
</div>
<div class="v-card">
    <div class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users" _ngcontent-serverapp-c1626669388=""><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
    </div>
    
    <div class="info">
        <h4 class="e-title">Vendors</h4>
        <p class="earnings">$45631</p>
        <p class="per">This month</p></div>
</div>
</div>
</div>