.profile{
    margin-left: 30px;
    margin-top: 60px;
    position: fixed;
    
}
.profile img{
    border: 1px solid #eff0f1;
    border-radius: 50%;
}
.profile h3{
    color: palevioletred;
}
.profile h5{
    margin-top: 10px;
    font-size: medium;
}
.container{
    border: 1px;
    border-style: inherit;
    height: 200px;
    border-color: palevioletred;
}