.profile{
    margin-left: 60px;
    margin-top: 60px;
    
}
.profile img{
    border: 1px solid #eff0f1;
    border-radius: 50%;
}
.profile h3{
    color: palevioletred;
}
.profile h5{
    margin-top: -10px;
}