<div class="container">
    <div class="title">
        <h1>LIST COUPONS</h1>
        <h5>Multicart Admin Panel</h5>
    </div>
    <div class="around">
        <div class="m-order">
            <h2>Product Category</h2>
        </div>
        <div class="dlt">
            <button>DELETE</button>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Code</th>
                        <th>Discount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (coupon of Coupons; track coupon) {
                    <tr>
                        <td>
                            <input type="checkbox">{{coupon.title}}
                        </td>
                        <td>{{coupon.code}}</td>
                        <td>{{coupon.discount}}</td>
                        <td class="circle-cell">
                            <div class="circle" [style.backgroundColor]="coupon.color"></div>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="pagination">
                <a>&laquo;</a>
                <a class="active">1</a>
                <a>2</a>
                <a>3</a>
                <a>&raquo;</a>
            </div>
        </div>
    </div>
</div>