<div class="l-table">
  <h1>Latest Orders</h1>
  <table>
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Order Total</th>
        <th>Payment Method</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      @for (order of Orders; track order) {
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.total}}</td>
        <td>{{order.paymentM}}</td>
        <td>{{order.status}}</td>
      </tr>
      }

    </tbody>
  </table>
  <button routerLink="/order" class="order">View All Orders</button>
</div>