.l-table {
  margin-left: 250px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.order {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  letter-spacing: 1px;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: 0.3s ease-in-out;
  background-color: palevioletred;
  margin-top: 10px;
}
