<div class="container">
  <div class="title">
    <h1>User List</h1>
    <h5>Multicart Admin Panel</h5>
  </div>
  <div class="around">
    <div class="m-order">
      <h2>User Details</h2>
    </div>
    <div class="dlt">
      <button>Create User</button>
    </div>
    <div class="table">
      <table>
        <thead>
          <tr>
            <th>Actions</th>
            <th>Avatar</th>
            <th>First Name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Last Login</th>
            <th>Role</th>
          </tr>
        </thead>
        <tbody>
          @for (user of Users; track user) {
          <tr>
            <td>
              <div class="icons">
                <img src="{{user.icon1}}" height="30px" alt="edit">
                <img src="{{user.icon2}}" height="30px" alt="edit">
              </div>
            </td>
            <td>
              <img src="{{user.img}}" height="50px" style="border-radius: 50%;" alt="pic">
            </td>
            <td>{{user.f_name}}</td>
            <td>{{user.l_name}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.l_login}}</td>
            <td>{{user.role}}</td>
          </tr>
          }
        </tbody>
      </table>
      <div class="pagination">
        <a>&laquo;</a>
        <a class="active">1</a>
        <a>2</a>
        <a>3</a>
        <a>&raquo;</a>
      </div>
    </div>
  </div>
</div>