<div class="container">
    <div class="title">
        <h1>Media</h1>
        <h5>Multicart Admin Panel</h5>
    </div>
    <div class="around">
        <div class="m-order">
            <h2>Dropzone Media</h2>
        </div>
        <div class="pic">
            <img #uploadIcon src="/assets/cloud-arrow-up-solid.svg" (click)="triggerFileUpload()" alt="icon"
                height="50px">
            <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;">
            <h1>Drop Files Here Or Click To Upload.</h1>
        </div>


    </div>

    <div class="around">
        <div class="m-order">
            <h2>Media File List</h2>
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Image</th>
                        <th>File Name</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                    @for (media of Media; track media) {
                    <tr>
                        <td>
                            <div class="icons">
                                <img src="{{media.icon1}}" height="30px" alt="edit">
                                <img src="{{media.icon2}}" height="30px" alt="edit">
                            </div>
                        </td>
                        <td>
                            <img src="{{media.img}}" alt="pic">
                        </td>
                        <td>
                            {{media.name}}
                        </td>
                        <td>
                            {{media.url}}
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="pagination">
                <a>&laquo;</a>
                <a class="active">1</a>
                <a>2</a>
                <a>3</a>
                <a>&raquo;</a>
            </div>
        </div>


    </div>
</div>